<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/images/lanikai.jpg">
  <div>
  </div>
  <div class="container d-flex">
    <div class="row">
      <div data-aos="fade-in" class="col-7">
        <img src="../assets/images/resume_pic.jpg" alt="Pic_of_Ken"> 
      </div>
      <div data-aos="fade-in" class="col-5">      
        <h1><strong>Ken Funakoshi</strong></h1>
        <p>Full Stack Web Developer</p>
      </div>
    </div>
  </div>
</div>


<div class="container mt-3">
  <div class="row justify-content-center">
    <div data-aos="fade-in" class="col">
      <h1>Projects</h1>
    </div>
  </div>
    <div>
    </div>
    <div data-aos="fade-up">
      <img src="../assets/images/simp_home.png" alt="simple proftolio home">
      <img src="../assets/images/simp_index.png" alt="simple portfolio index">
    </div>
</div>

<div data-aos="fade-up" class="footer">
  <div class="footer-links">
    <a href="https://github.com/Funaks89/"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/kenfunakoshi/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>