<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/images/lanikai.jpg">
  <div>
  </div>
  <div class="container">
    <div class="row">
      <div data-aos="fade-in" class="col-7">
        <img src="../assets/images/awesome_mug.JPG" alt="Pic_of_Ken"> 
      </div>
      <div data-aos="fade-in" class="col-5">      
        <h1><strong>Ken Funakoshi</strong></h1>
        <p>Full Stack Web Developer</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div data-aos="fade-in" class="col">
    <div class="card">
      <div class="card-body">
        <div class="card-title"> 
          <h2>Projects</h2>   
        </div>
      </div>
    </div>
    </div>
  </div>
<div id='accordion'>
  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div data-aos="fade-up" >
      <div class='card mb-3'>
          <div class='card-body'>
            <h2 class='card-title'>Simple Portfolio</h2>
            <p class='card-text'>This was my final project at Le Wagon, I was the front-end lead in this project with a group of 3. This project was to consolidate someones investment portfolio across multiple platforms such as Robinhoo, Rakuten Securities etc. <a href="https://www.simpl-portfolio.com" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
          <img src="../assets/images/simp_home.png" alt="simple proftolio home">
          <img src="../assets/images/simp_index.png" alt="simple portfolio index">
          </div>
      </div>
      <div data-aos='fade-right'>
        <div class='card mt-4'>
          <div class='card-body'>
            <h2>Nap buddies</h2>
            <p>This was a quick 1 week project which I was also the front-end lead developer on. Its an airbnb clone app we made for finding napping partners, it was a very fun app to work on. <a href="http://napbuddies.herokuapp.com/" target='_blank'><i class="fas fa-external-link-alt"></i></a></p>
          <img src="../assets/images/napbuddies_ss.png" alt="nap buddies index screenshot">
          <img src="../assets/images/nap_show.png" alt="">
          </div>
        </div>
      </div>
      <div data-aos='fade-left'>
        <div class='card mt-4'>
          <div class="card-body">
            <h2>Cataline Wine mixer</h2>
            <p>A simple App using in which you can add/delete/edit your own cocktail recipes or view some recipes to get ideas for a drinking night</p>
            <img src="../assets/images/cataline_wine.png" alt="">
            <img src="../assets/images/catalina_wine2.png" alt="">
          </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <button class='button' type='btn btn-link' data-toggle='collapse' data-target='#collapseOne'><i class="fas fa-chevron-down"></i></button>
</div>

<div class="footer sticky-bottom">
  <div class="footer-links">
    <a href="https://github.com/Funaks89/" target='_blank'><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/kenfunakoshi/" target='_blank'><i class="fab fa-linkedin"></i></a>
    <a href="https://drive.google.com/file/d/1a-37PGysCwmk8u4JYj4s5UtjKurANsEh/view?usp=sharing" target='_blank'><i class="fas fa-file"></i></a>
    <a href="mailto:funaks@live.com"><i class="fas fa-envelope"></i></a>
  </div>
</div>